
/* line 5 : C:\Work\odata\styles\site.styl */

/* line 1 : C:\Work\odata\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Work\odata\styles\site.styl */
html {
  font-family: "Helvetica";
  color: #333;
  font-weight: normal;
}
